<% unless comment.archived? %>
    <p>
        <strong>Commenter:</strong>
        <%= comment.commenter %>
    </p>
    <p>
        <strong>Comment:</strong>
        <%= comment.body %>
    </p>  

    <p>
        <%= link_to "Delete Comment", [comment.article, comment], data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure to delete the comment?"
        } %>
    </p>
<% end %>