<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<% @article.comments.each do |comment| %>
    <%= render 'comments/comments', comment: comment %>
<% end %>


<h2>Add a comment:</h2>
<%= render 'comments/form' %>
